.header-image {
  background-size: cover;
}

.card {
  margin-top: 10px;
}

.btn-active {
  background-color: lightblue;
}

.spinner-container {
  display: flex;
  justify-content: center;
  height: 70px;
}
